<mat-nav-list>
    <a mat-list-item routerLink="/main" (click)="close(false)">
        <mat-icon>home</mat-icon>
        <span> KEZDŐLAP</span>
    </a>
    <a mat-list-item routerLink="/add-product" (click)="close(false)" *ngIf="(loggedInUser)">
        <mat-icon>post_add</mat-icon>
        <span> TERMÉK HOZZÁADÁSA</span>
    </a>
    <a mat-list-item routerLink="/stores" (click)="close(false)">
        <mat-icon>storefront</mat-icon>
        <span> ÜZLETEINK</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="close(false)">
        <mat-icon>contact_support</mat-icon>
        <span> KAPCSOLAT</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="(loggedInUser)">
        <mat-icon>logout</mat-icon>
        <span> KIJELENTKEZÉS</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="close(false)" *ngIf="!(loggedInUser)">
        <mat-icon>person_add</mat-icon>
        <span> REGISZTRÁCIÓ</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close(false)" *ngIf="!(loggedInUser)">
        <mat-icon>login</mat-icon>
        <span> BEJELENTKEZÉS</span>
    </a>
</mat-nav-list>

