header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: min-content;
    padding: 1dvh 0 1dvh 0;
}

#header-wrapper {
    width: 100%;
    /*position: sticky;*/
    top: 0;
    left: 0;
    z-index: 99;
}

#menubar-select {
    display: none;
}

#divider-linear {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgb(179, 0, 255), rgb(255, 0, 183));
}


