header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: min-content;
    padding: 1dvh 0 1dvh 0;
}

#header-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

#menubar-select {
    display: none;
}

#divider-linear {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgb(179, 0, 255), rgb(255, 0, 183));
}

#header-title {
    color: rgb(216, 112, 147);
    font-weight: 200;
    margin: 0px;
}

#header-title:hover {
    cursor: pointer;
}

#menubar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.menu-btn {
    border:  0px;
    padding: 0.5dvw;
    background-color: transparent;
    color: palevioletred;
}

.menu-btn:hover {
    cursor: pointer;
    border: 0px;
}

#menu-cart-btn {
    border-radius: 0.3dvw;
    background-color: rgb(135, 0, 195);
    color: white;
    padding: 0.7dvh;
    padding-inline: 2dvw;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3dvw;
}

#cart-btn-icon {
    width: 4dvh;
}