<div class="page-sizer">
<div class="login-wrapper">
    <div class="login-container">
        <h1>Bejelentkezés</h1>
        <mat-form-field><mat-label for="email">Email: </mat-label><input matInput name="email" type="email" [formControl]="email"></mat-form-field>
        <mat-form-field><mat-label for="password">Jelszó:</mat-label><input matInput name="password" type="password" [formControl]="password"></mat-form-field>
        <button mat-raised-button color="primary" (click)="login()" id="login-btn">Bejelentkezés</button>
    </div>
</div>
</div>

