
app-menu {
    width: 100%;
}

#menubar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
}

.menu-btn {
    border:  0px;
    padding: 0.5dvw;
    background-color: transparent;
    color: palevioletred;
}

.menu-btn:hover {
    cursor: pointer;
    border: 0px;
    color: white;
}

#menu-cart-btn {
    border-radius: 0.3dvw;
    background-color: rgb(135, 0, 195);
    color: white;
    padding: 0.7dvh;
    padding-inline: 2dvw;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3dvw;
}

#menu-cart-btn:hover {
    background-color: rgb(166, 62, 210);
}

#header-title {
    color: rgb(216, 112, 147);
    font-weight: 200;
    margin: 0px;
}

#header-title:hover {
    cursor: pointer;
}

mat-sidenav {
    width: fit-content;
    font-size: small;
}

.mat-toolbar {
    /*background-color: rgb(253, 214, 245);*/
    background-color:#f2d7e8;
    box-shadow: grey 0px 0px 0.2dvh;

}

mat-progress-bar {
    position:fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    background-color: rgba(196, 161, 189, 0.2);
    color:rgb(255, 43, 213);
}

mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}