<div id="openening-image-container">
    <img src="../../../assets/static/nail_polish_opening.jpg" alt="" id="opening-image">
    <div id="text-over-opening-image">RUSCONA GEL POLISH</div>
</div>
<h2><mat-icon>category</mat-icon> TERMÉKEINK</h2>
<div class="products-wrapper">
    <ng-container *ngFor="let product of ProductObject">
        <form class="product-container" [formGroup]="AddToCartForm" (ngSubmit)="onSubmit()">
          <img src="../../../assets/static/products/{{ product.imagePath }}" alt="" class="product-image">
          <h5>{{ product.title }}</h5>
          <input type="hidden" formControlName="userID" value="jrKN3fTkl0T1odHu2A0EkFi3A0B2">
          <input type="hidden" formControlName="productID" [value]="product.id">
          <input type="hidden" formControlName="quantity" value="1">
          <button mat-raised-button class="add-to-cart-btn" type="submit">KOSÁRBA</button>
        </form>
      </ng-container>
      
</div>
