#opening-image {
    width: 100%
}

#text-over-opening-image {
    position: absolute;
    top: 15dvh;
    left: 12dvw;
    font-weight: 200;
    font-size: 4dvw;
    color: rgb(135, 0, 195);
    background: -webkit-linear-gradient(rgb(179, 0, 255), rgb(255, 0, 183));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
    line-height: 8dvh;
}

h2 {
    display: block;
    width: fit-content;
    font-weight: 200;
    margin: 10dvh auto 0 auto;
}

.products-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 75dvw;
    margin: 10dvh auto 10dvh auto;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 18dvw;
    height: 70dvh;
    background-color: white;
    border-radius: 1dvh;
    /*box-shadow: grey 0px 0px 0.2dvh;*/
    border: 1px solid rgba(186, 186, 186, 1);
    margin-bottom: 2dvh;
    max-width: 18dvw;
    text-wrap: wrap;
}

.product-container:hover {
    box-shadow: none;
    border: 1px solid rgb(135, 0, 195);
    cursor: pointer;
}

.product-image {
    min-width: 14dvw;
    width: 14dvw;
    aspect-ratio: 1 / 1;
    margin: 0.5dvh auto 0 auto;
}

.add-to-cart-btn {
    background-color: rgb(135, 0, 195);
    color: white;
    border: 0;
    border-radius: 0.5dvh;
    padding: 1dvh;
    font-weight: 500;
    cursor: pointer;
}

h3 {
    font-weight: 100;
    font-size: x-large;
}

@media only screen and (max-width: 600px) {
    .product-image {
      width: 32dvw;
    }

    .product-container {
        min-width: 36dvw;
        height: 60dvh;
        max-height: fit-content;
    }

    .product-container * {
        font-size: medium;
    }
  }